#topo {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
}

#menu {
    background-color: blueviolet;
}
.destaques, .produtos, .sobre, .contato {
    background-color: coral;
}
#rodape {
    background-color: darkkhaki;
}

p {
    font-weight: 90;
    font-size: 1000%;
}