* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********HEADER**********/
#topo {
    background-color: grey;
}

#logo {
    background-color: black;
    background-image: url(../images/logo.png);
    background-position: 50px 10px;
    width: 350px;
    height: 350px;
}

/*********NAV**********/
#menu {
    background-color: blueviolet;
}

/*********MAIN**********/
.destaques {
    background-color: darkblue;
}

/*********FOOTER**********/
#rodapé {
    background-color: black;
}